

.wrapper_class{
    width: 500px;
}

/* @media (max-width: 700px){
    .wrapper_class{
        width: 445px;
        font-size: 10px;
    }
}
@media (max-width: 600px){
    .wrapper_class{
        width: 380px;
        font-size: 10px;
    }
}
@media (max-width: 500px){
    .wrapper_class{
        width: 250px;
        font-size: 9px;
    }
} */