/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap'); */


/* Define font-face for Urbanist */
/* @font-face {
  font-family: 'Urbanist';
  src: url('../public/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */


/* @font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */


* {
  font-family: Urbanist;
}



body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scroll-remove::-webkit-scrollbar {
  display: none;
}










